@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: Montserrat !important;
  color: Black;
}

.header {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.logo {
  background-image: url('https://zaxe.com/public/svg-main/zaxe-logo-black-transparent.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 25px;
  width: 200px;
  cursor: pointer;
  transition: all 0.2s;
}

.logo:hover {
  transform: scale(1.1);
}

.welcome {
  padding-top: 50px;
  font-size: calc(0.7vw + 1rem);
  color: #707070;
}

.arrow-tip {
  margin-top: 10px !important;
  font-size: 20px !important;
  color: #009ade;
  animation-name: arrowAnim;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.1, 0.5, 1);
  position: relative;
  top: 0px;
  animation-fill-mode: forwards;
  transition: all 0.2s;
}
#info {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  z-index: 100;
  display: block;
}

.name-input {
  background-color: white;
  border: 1px solid #009bde;
  background-color: white;
  outline: none !important;
  border-radius: 5px;
  padding: 10px;
  transition: all 0.2s;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
}

.name-input:focus {
  transform: scale(1.05);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
}

.name-input::placeholder {
  color: #707070;
}

.submit-btn {
  padding: 5px 15px 5px 15px;
  background-color: #009ade !important;
  color: white;
  border: none;
  border-radius: 5px;
  position: relative;
  transition: all 0.15s, border-bottom 0.1s;
  border-bottom: 3px solid #0083bb;
  top: 0px;
}
.submit-btn:hover {
  transform: scale(1.05);
}

.submit-btn:active {
  top: 2px;
  border-bottom: 1px solid #0083bb;
}
.model-viewer {
  cursor: grab;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
}

.model-viewer:active:hover {
  cursor: grabbing !important;
}
.model-viewer:active ~ div.cursor-group {
  visibility: hidden !important;
  opacity: 0;
}

.cursor-group {
  transition: all 0.2s;
  opacity: 1;
  visibility: visible;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.cursor-outer {
  animation-name: cursorAnim;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  max-width: 20px;
  width: 20px !important;
  transform-origin: center;
  height: 20px !important;
  position: relative;
  top: -40px;
  left: 0px;
}

.cursor-icon {
  opacity: 1;
  max-width: 20px;
  max-height: 20px;
  width: 20px !important;
  height: 20px !important;
  animation-name: cursorAnimRev;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  color: #009ade;
  position: absolute;

  transition: all 0.2s;
}

@keyframes arrowAnim {
  0% {
    top: 0px;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 0px;
  }
}

@keyframes cursorAnim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes cursorAnimRev {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
